@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@font-face {
    font-family: "NEXTART"; 
    src: url("/fonts/NEXT/ART_Bolt.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "NEXTART"; 
    src: url("/fonts/NEXT/ART_Regular.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "NEXTART"; 
    src: url("/fonts/NEXT/ART_SemiBold.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "NEXTART"; 
    src: url("/fonts/NEXT/ART_Heavy.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

body {
    margin: 0;
}
section{
    display: flex;
    flex-direction: column;
}
#bolt{
    font-weight: 900;
}
.back{
    background-image: url('image/Rectangle 1.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
}
header{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}
.logo h1{
    line-height: 27px;
    color: #FFF;
    font-family: "NEXT ART";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 50px;;
}
.head{
    list-style-type: none; 
    padding: 0px; 
    margin-top: 50px;
    margin-right: 50px;
}  
.head ul{
    margin-top: 0;
}  
.head li{
    font-family:"Nunito Sans";
    font-size: 18px;
    font-weight: 600;
    display: inline; 
    margin-right: 24px;
}
.head a{
    font-weight: 400px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.head .button{
    font-family:"Nunito Sans";
    font-size: 16px;
    background-color: #0000005b; 
    border: none;              
    color: white;               
    padding: 15px 32px;      
    text-align: center;       
    text-decoration: none;      
    display: inline-block;    
    font-size: 16px;          
    margin: 4px 2px;         
    cursor: pointer;        
    border-radius: 4px;  
    transition: background-color 0.3s, transform 0.2s;
}
.head .button:hover {
    background-color: #bbbbbb; 
    transform: scale(1.05);  
}

.head .button:active {
    background-color: #585858; 
    transform: scale(0.95);    
}
.info{
    margin-top:400px;
    margin-left: 370px;
}
.info .one{
   font-family:"Nunito Sans";
   font-weight:"bold";
   color: rgb(255, 255, 255);
   font-size: 50px;
   display: flex;
   align-items: center;
   margin-left: 0px ;
   margin-top:0px;
   margin-bottom: 0px;
}
.spisok{
   
   margin-bottom: 0px;
   margin-left: 0px;
   border-radius: 10px;
   width: 1080px;
   height: 151px;
   background-color: rgba(254, 254, 254, 0.282);
   display: flex;
   position: absolute;
   gap: 20px; 
}
.buttonS {
    margin-top:30px;
    position: relative;
    width: 100px;
    height: 50px;
    font-family:"Nunito Sans";
    font-size: 10px;
    border: none;               
    color: rgb(255, 255, 255);              
    padding: 15px 32px;        
    text-align: center;         
    text-decoration: none;   
    display: inline-block;  
    font-size: 16px;        
    cursor: pointer;         
    border-radius: 4px;  
    transition: background-color 0.3s, transform 0.2s; 
}
.buttonS:hover {
    background-color: #bbbbbb;
    transform: scale(1.05);    
}

 .buttonS:active {
    background-color: #585858; 
    transform: scale(0.95);   
}
#loc{
    margin-left: 20px;
    color: white;
    text-align: center;
    font-size: 19px;
    border: solid;
    border-color: white;
    width: 270px;
    height: 52px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    option{
        font-size: 19px;
        color: rgba(0, 0, 0, 0.775);
    }

}
#Day{
    color: white;
    text-align: center;
    font-size: 19px;
    border: solid;
    border-color: white;
    width: 270px;
    height: 52px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    option{
        font-size: 19px;
        color: rgba(0, 0, 0, 0.775);
    }

}
#People{
    color: white;
    text-align: center;
    font-size: 19px;
    border: solid;
    width: 270px;
    height: 52px;
    border-radius: 5px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0);
    option{
        font-size: 19px;
        color: rgba(0, 0, 0, 0.775);
    }

}
form [for="location"]{
    margin-left:20px;
    font-family:"Nunito Sans" ;
   font-size: 14;
   font-weight: 400;
   color: white;
}
form [for="Data"]{
    font-family:"Nunito Sans" ;
   font-size: 14;
   font-weight: 400;
   color: white;
}
form [for="People"]{
    font-family:"Nunito Sans" ;
   font-size: 14;
   font-weight: 400;
   color: white;
}
.one{
    margin-top:400px;
    margin-left: 370px;
}

.img_one{
    width: 350px;
    height: 400px;
   position: absolute;
   
}
.img_two{
    margin-bottom:300px ;
    position:relative;
    top: 126px;
    left: 130px;
    width: 350px;
    height: 400px;
    z-index: 1; 
}
.img_stuck {
    display: flex;
}
    
.text{
    font-family:"Nunito Sans";
    margin-left:250px;
}
.text h3{
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 400;
    color: #F2BE22;
}
.text h1{
    margin-top: 0;
    margin-bottom: 0;
    font-family:"Nunito Sans";
    font-size: 32px;
    font-weight: 800;
}
.text p{
    margin-top: 40px;
    font-family:"Nunito Sans";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}
.text a{ 
    
    font-family:"Nunito Sans";

    background-color: #1A3E3E;
    border: none;               
    color: white;             
    padding: 15px 32px;      
    text-align: center;      
    text-decoration: none;      
    display: inline-block;  
    font-size: 16px;       
    margin: 4px 2px;           
    cursor: pointer;          
    border-radius: 4px;      
    transition: background-color 0.3s, transform 0.2s; 
}
.text .button:hover {
    background-color: #bbbbbb; 
    transform: scale(1.05);    
}

.text .button:active {
    background-color: #585858; 
    transform: scale(0.95);   
}
.block_two{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F3F5F4;
    width: 100%;
    height: 771px;
}
.text_two{
    margin-right: 100px;
}
.text_two h1{
    margin: 0px;
    font-family:"Nunito Sans" ;
    font-size: 32px;
    font-weight: 800;
}
.text_two #top{
    margin: 0px;
    font-family:"Nunito Sans" ;
    font-size: 24px;
    font-weight: 400;
    color: #F2BE22;
}

.text_two h3{
    margin-top: 40px;
    font-family: "Nunito Sans";
    font-size:18px;
    font-weight: 400;

    
}
.block_two{
    font-family:"Nunito Sans";
}
.block_two .top{
    display: flex;  
    align-items: center;
}
.block_two .center{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.section_element #top_img{
    width: 50px;
    height:50px;
}
.gid_text{
    margin-left: 10px;
}
.section_element #top_p{
    margin-bottom: 0px;
   margin-top:4px;
   font-family:"Nunito Sans";
   font-size: 14px;
   font-weight: 400;
}
.section_element #top_h1{
    font-size: 18px;
}
.section_element #center_img{
    width: 50px;
    height:50px;
}
.section_element #center_h1{
    font-size: 18px;
}
.section_element #center_p{
    margin-bottom: 0px;
   margin-top:4px;
   font-family:"Nunito Sans";
   font-size: 14px;
   font-weight: 400;
}
.dang_text{
    margin-left: 10px;
}
.price_text{
    margin-left:10px;
}
.block_two .bottom{
    margin-bottom: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.section_element #bottom_img{
    width: 50px;
    height:50px;
}
.section_element #bottom_h1{
    font-size: 18px;
}
.section_element #bottom_p{
    margin-bottom: 0px;
   margin-top:4px;
   font-family:"Nunito Sans";
   font-size: 14px;
   font-weight: 400;
   
}
.button_tree{
    font-family:"Nunito Sans";
    background-color: #1A3E3E; 
    border: none;               
    color: white;
    height: 52px;
    width:236px;    
    display: flex;         
    justify-content: center;
    align-items: center;     
    text-decoration: none;     
    font-size: 16px;           
    cursor: pointer;      
    border-radius: 4px;        
    transition: background-color 0.3s, transform 0.2s;
}
.button_tree:hover {
    background-color: #bbbbbb; 
    transform: scale(1.05);    
}

.button_tree:active {
    background-color: #585858;
    transform: scale(0.95); 
}
#img_A{
    margin:5px;
}
#img_B{
    margin:5px;
}
#img_C{
    margin:5px;
}
#img_D{
    margin:5px;
}
.block_tree .conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    width: 100%;
    height: 850px;
}
.text_top{
    display: grid;
    place-items: center;
}

.text_top #heading_text{
    display: grid;
    place-items: center; 
    font-size: 32px;
    font-weight: 800;
    font-family:"Nunito Sans";
    margin-top: 8px;
    margin-bottom: 50px;
}
.text_top #yellow{
    display: grid;
    place-items: center; 
    margin-top:80px;
    margin-bottom: 0px;
    color: #F2BE22;
    font-size: 24px;
    font-family:"Nunito Sans";
}

.image-container {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    width: 380px; 
    height: 500px; 
    overflow: hidden; 
}


input[type="checkbox"] {
    display: none;
}


.image-container img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    transition: opacity 0.3s; 
}


.image1 {
    opacity: 1;
}


input[type="checkbox"]:checked + label .image1 {
    opacity: 0; 
}

input[type="checkbox"]:checked + label .image2 {
    opacity: 1; 
}


.image2 {
    opacity: 0;
}

.image-containers {
    margin-right: 1px;
    position: relative;
    display: inline-block;
    width: 380px; 
    height: 500px; 
    overflow: hidden;
}

input[type="checkbox"] {
    display: none;
}

.image-containers img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    transition: opacity 0.3s; 
}
.image3 {
    opacity: 1;
}

input[type="checkbox"]:checked + label .image3 {
    opacity: 0; 
}
input[type="checkbox"]:checked + label .image4 {
    opacity: 1; 
}

.image4 {
    opacity: 0;
}

#margin_left{
    margin-left: 20px;
}
.bottom_button{
    margin-bottom:100px;
    margin-top: 54px;
    width: 244px;
    height: 52px;
}

.top_text{
    margin: 0;
    display: grid;
    place-items: center; 
}
.top_text #heading_text{
    display: grid;
    place-items: center; 
    font-size: 32px;
    font-weight: 800;
    font-family:"Nunito Sans";
    margin-top: 8px;
    margin-bottom: 50px;
}
.top_text #yellow{
    display: grid;
    place-items: center; 
    margin-top:80px;
    margin-bottom: 0px;
    color: #F2BE22;
    font-size: 24px;
    font-family:"Nunito Sans";
}
.containers{
    width: 100%;
    height: 1040px;
    background-color: #F3F5F4;
}
.rectengle{
    display: flex;  
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    width: 580px;
    height: 300px;
    background-color: rgb(255, 255, 255);
}
.rectengle_class{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
    gap: 24px; 
}

#rectengle_img{
    margin-right: 10px;
    width: 230px;
    height: 280px;
}

.rectengle_text h1{
    margin: 0px;
    font-family:"Nunito Sans";
    font-size: 24px;
    font-weight: 700;
}
.rectengle_text p{
    margin-bottom: 30px;
    font-family:"Nunito Sans";
    font-size: 14px;
    font-weight: 500;
}
#opisanie{
    display:flex;
    justify-content: space-between;
}
#statia{
    margin-right: 10px;
    margin-top: 60px;
    color: #1A3E3E;
    font-size: 18px;
    font-weight: 700;
    font-family: "Nunato Sans";
    text-decoration:none;
}
.button_materials{
    margin-top:45px;
    font-family:"Nunito Sans";
    background-color: #1A3E3E; 
    border: none;              
    color: white;
    height: 52px;
    width:236px;    
    display: flex;         
    justify-content: center;
    align-items: center;      
    text-decoration: none;    
    font-size: 16px;               
    cursor: pointer;          
    border-radius: 4px;     
    transition: background-color 0.3s, transform 0.2s; 
}
.button_materials:hover {
    background-color: #bbbbbb;
    transform: scale(1.05);    
}

.button_materials:active {
    background-color: #585858; 
    transform: scale(0.95);  
}

.picture_blog{
    width: 100%;
    height: 1040px;
    background-color: #ffffff;
}
#photo_p{
    display: grid;
    place-items: center;
    margin-top:80px;
    margin-bottom: 0px;
    color: #F2BE22;
    font-size: 24px;
    font-family:"Nunito Sans";
}
#photo_h1{
    display: grid;
    place-items: center; 
    font-size: 32px;
    font-weight: 800;
    font-family:"Nunito Sans";
    margin-top: 8px;
    margin-bottom: 50px;
}
.box{
    display: flex;  
    align-items: center;
    border-radius: 10px;
    width: 280px;
    height: 250px;
}
.box_big{
    display: flex;  
    align-items: center;
    border-radius: 10px;
    width: 580px;
    height: 250px;
}
.first_layers{
    margin: 0px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.second_layers{
    display: flex;
    align-items: stretch;
    justify-content: center;
}
#one_photo{
    margin: 10px;
}
#two_photo{
    margin: 10px;
}
#tree_photo{
    margin: 10px;
}
#four_photo{
    margin: 10px;
}
.image-button {
    display: inline-block;
    transition: transform 0.3s; 
    transition: opacity 0.3s; 

}

.image-button:hover {
    transform: scale(1.1); 
    opacity: 0.8;
}
#five_photo{
    margin: 10px;
}
#six_photo{
    margin: 10px;
}
.button_pinteres{
    margin-top:45px;
    font-family:"Nunito Sans";
    background-color: #1A3E3E; 
    border: none;              
    color: white;
    height: 52px;
    width:236px;    
    display: flex;         
    justify-content: center;
    align-items: center;     
    text-decoration: none;     
    font-size: 16px;                
    cursor: pointer;           
    border-radius: 4px;     
    transition: background-color 0.3s, transform 0.2s;
}
.button_pinteres:hover {
    background-color: #bbbbbb; 
    transform: scale(1.05);  
}

.button_pinteres:active {
    background-color: #585858;
    transform: scale(0.95);    
}

.picture_blog {
    display: flex;
    align-items: center;    
    justify-items: center;
}
.footers{
    font-family:"Nunito Sans";
    display: grid;
    place-items: center;
    margin:0px;
    width: 100%;
    height: 500px;
    background-color: #1A3E3E;
}
.text_footer{
    margin-top: 0;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Nunito Sans";
    color:white;
}
.text_footer h4{
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
}
.arrow-list {
    list-style-type: none; 
    padding: 0px; 
}

.arrow-list a{
    text-decoration: none;
    color: white;
}
.arrow-list li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 20px; 
}

.arrow-list li::before {
    content: "➜"; 
    position: absolute; 
    left: 0; 
    color: #ffffff; 
}
.third_textbox{
    margin-bottom:75px ;
}
.h_text{
    margin-bottom: 57px;
}
.h_text p{
    margin-top: 5px;
}
.numbe_footer a{
  text-decoration: none;
  color: white;
}
.first_textbox{
    margin-bottom: 77px;
}
.footer_under{
    width: auto;
    height: 20px;

}
.IP{
    background-color: rgba(0, 0, 0, 0.605);
    color: white;
    font-family:"Nunito Sans";
    display: flex;
    justify-content: center;
    gap: 600px; 
}
.IP a{
    color: white; 

}