.notification_old {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #222233;
    color: #A8FFBE;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    padding: 20px;
}

.notification {
    position: fixed;
    left: 10px;
    bottom: 10px;
    background: #fff;
    color: #111;
    border-radius: 10px;
    width: 300px;
    height: 120px;
    padding: 20px;
    padding-top: 10px;
    font-family: Tahoma;
    box-shadow: 0px 5px 20px 0px #999;
}